#===============================================================================
# BINARIES
#===============================================================================

*.a
*.apk
*.app
*.bin
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.out
*.slo
*.so

#===============================================================================
# PROJECT
#===============================================================================

bin/
build/
build_*/
crash/
doc/
GGSrcFiles.cmake
version.h

#===============================================================================
# VSCODE
#===============================================================================

ipch/
*.vscode
